/* List of Current Objectives

        - Use these colors: 
                            - HEX: #ffe48c	R: 255	G: 228	B: 140
                            - HEX: #ff8cc2	R: 255	G: 140	B: 194	
                            - HEX: #8cf5ff	R: 140	G: 245	B: 255
        - Or maybe these colors:
                            - HEX: #acb8b8	R: 172	G: 184	B: 184
                            - HEX: #74989e	R: 116	G: 152	B: 158	
        - Observe ideas I like, but make them my own
        - Work on potential animations ie @keyframes
        - Research potentially good 3rd party add-ons
*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #bbbbbb;
    height: 100%;
    position: fixed; 
    overflow: auto; 
}

li {
    border-bottom: 1px solid #eeeeee;
}

li:last-child {
    border-bottom: none;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}


/* FONTS */

.font-barrio{
    font-family: 'Barrio', cursive;
}

.font-pt-sans{
    font-family: 'PT Sans', sans-serif;
}

/* END OF FONTS */

.vertical-nav-bar-offset{
    padding: 0px 0px 0px 100px;
}

.kitty{
     width: 100px;
     height:100px;
     display:block;
     background:transparent url('images/cowboy-cat.png') center top no-repeat;
}

.kitty:hover{
    background-image: url('images/cat-in-a-box.png');
}

.fill-height {
    min-height: 100%; 
    width: auto;
}

.fill-width {
    min-width: 100%;
    height: auto;
}

.large-font{
    font-size: 40px;
}

.small-padding{
    padding: 20px 20px 20px 20px; 
}

.small-padding.vertical-nav-bar-offset{
    padding: 20px 20px 20px 100px;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.everything{
    background-color: #eeeeee; 
}

.light-yellow{
    background-color: #ffe48c;
    min-height: 33%;
}

.light-pink{
    background-color: #ff8cc2;
    min-height: 33%;
}

.light-blue{
    background-color: #8cf5ff;
    min-height: 33%;
}

.wide-div{
    width: 100%;
    height: 100px;
}

.display-block{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text-center{
    text-align: center;
}





/* @media screen and (max) */