<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ben Filstrup - Project Website</title>
        <meta charset="utf-8">
		<script src="libraries/jquery-3.1.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../style.css">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css?family=Barrio|PT+Sans" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> THIS IS FOR SOCIAL MEDIA BUTTONS -->
	</head>

	<body class="everything font-pt-sans">
        
        <nav>
            <ul>
              <li><a href="..">Home</a></li>
                <li><a href="news.asp" class="kitty fill-height"></a></li>
              <li><a href="/contact/">Contact</a></li>
              <li><a href="/about/">About</a></li>
                <li><a href="." class="active">Templates</a> </li>
            </ul>
        </nav>
        
        <div class="wide-div">
            <div class="light-yellow">
                &nbsp;
            </div>
            <div class="light-pink">
                &nbsp;
            </div>
            <div class="light-blue">
                &nbsp;
            </div>
        </div>
        <p class="text-center font-barrio large-font small-padding vertical-nav-bar-offset">
            Maybe coming.
        </p>
        
	</body>
</html>